.App {
  transition: background-image 0.5s ease-in-out;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.day-background {
  background-image: url('./images/day.jpg');
}

.night-background {
  background-image: url('./images/night.jpg');
}


